.footer {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .footer {
    background: #000;
    border-radius: 0;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}